---
title: Vishnu Satish
layout: default
description: Hey, my name is Vishnu, and I like to program. This is like a list of my projects and what I've done so far.
---
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="google-site-verification" content="-gL1T9mqH2_DBiV20JjXfwcLBunSt4LU6DIf-NZPVac" />
    {% include header.html %}
    <meta name="description" content="description: Hey, my name is Vishnu, and I like to program. This is like a list of my projects and what I've done so far.">


</head>

<body onload="bodyOnload()" onresize="windowResized()">
<title>Vishnu Satish</title>
<div id="homepage">
    <img src="https://cdn.pixabay.com/photo/2019/07/30/16/37/sea-4373364_1280.jpg" id="backgroundimg">

    <div id="typewriter">
        <h1 id="typetext0" class="textoftype">>></h1>
        <h1 id="typetext1" class="textoftype">>></h1>
        <h1 id="typetext2" class="textoftype">>></h1>
    </div>



 

    <div id="proj">
        <h1 id="projectstitle">Projects</h1>
        <div class="projects" id="projects">
            {% for project in site.data.projects limit:3 %}
                <div class="projectwrap" id="proj{{ forloop.index }}">
                    <img src="{{site.baseurl}}/assets/img/{{project.image}}" class="iconimg" id="img{{ forloop.index }}">
                        <div class="project">
                            <h2 class="projtext">{{project.title}}</h2>
                            <h3 class="projtext">{{project.date}}</h3>
                            <p class="projtext">{{project.description}}</p>
                            {% case project.mac %}
                                {% when 'None' %}
                                {% else %}
                                    <button onclick="location.href='{{project.mac}}'" type="button" class="WebButton osbutton" id="macload">
                                    Download for Mac ⬇</button>
                            {% endcase %}
                            {% case project.windows %}
                                {% when 'None' %}
                                {% else %}
                                    <button onclick="location.href='{{project.windows}}'" type="button" class="WebButton osbutton" id="winload">
                                    Download for Windows ⬇</button>
                            {% endcase %}
                            {% case project.website %}
                                {% when 'None' %}
                                {% else %}
                                    <button onclick="location.href='{{project.website}}'" type="button" class="WebButton">
                                    Go to Website</button>
                            {% endcase %}
                            {% case project.android %}
                                {% when 'None' %}
                                {% else %}
                                    <button onclick="location.href='{{project.android}}'" type="button" class="WebButton">
                                    Download for Android ⬇</button>
                            {% endcase %}
                        </div>
                </div>
            {% endfor %}   
            <button onclick="location.href='{{ site.baseurl }}/projects/'" type="button" class="WebButton" id="viewallbutton">
            View All</button>       
        </div>

    </div>    



    <div id="contactform">
        <h1>Contact</h1>
        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/vishnupavan.satish@gmail.com" method="post">
        <fieldset id="fs-frm-inputs">
            <label for="full-name">Full Name</label>
            <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
            <label for="email-address">Email Address</label>
            <input type="email" name="_replyto" id="email-address" placeholder="email@domain.com" required="">
            <label for="message">Message</label>
            <textarea rows="5" name="message" id="message" required=""></textarea>
            <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
        </fieldset>
        <input type="submit" value="Submit">
        </form>
    </div>

</div>

</body>


<script src="assets/js/script.js"></script>
</html>


<!--
You can use HTML elements in Markdown, such as the comment element, and they won't be affected by a markdown parser. However, if you create an HTML element in your markdown file, you cannot use markdown syntax within that element's contents.
-->