---
title: Projects
permalink: /projects/
description: A collection of my programming projects so far!
---
<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145440997-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145440997-1');
    </script>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>Projects - Vishnu</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    {% include header.html %}
</head>

<!DOCTYPE html>
<html>


<body id="projectsbody">
    <img src="https://cdn.pixabay.com/photo/2019/07/30/16/37/sea-4373364_1280.jpg" class="backgroundimg" id="projectbackground">
  <section class="intro">
  <div class="container">
    <h1 id="projectstitle">Projects</h1>
  </div>
</section>

<section class="timeline">
  <ul>
      <li>
          <div>
            <time>DECA Info Downloader - September 2019</time> 
            <p>A way to easily look for the club DECA’s categories and its PDFs. Search with list.</p>
            <button onclick="window.open('https://deca.vishnus.me')" class="projectbutton">Learn about DECA!</button>
    
                  
              
          </div>
        </li>

        <li>
          <div>
            <time>Hand Cricket (Android) - September 2019</time> 
            <p>A fun and easy-to-play hand-based cricket game! This time available for Android! Made with: Apache Cordova.</p>
            <button onclick="location.href='https://www.dropbox.com/s/3tpq6ztqiwcwa9s/Hand%20Cricket.apk?dl=0'" class="projectbutton">Play Hand Cricket! ⬇</button>
    
                  
              
          </div>
         </li>

      <li>
        <div>
          <time>MediaLook - August 2019</time> 
          <p>A simple way to look for any media, such as books, movies, and videos, and their info.</p>
          <button onclick="window.open('https://media.vishnus.me')" class="projectbutton">Look for Media!</button>
  
                
            
        </div>
      </li>

    <li>
      <div>
        <time>Simple Calculator - August 2019</time> 
        <p>A simple and beautiful calculator that performs simple functions and operations.</p>
        <button onclick="window.open('https://calculator.vishnus.me')" class="projectbutton">Try Calculator!</button>

              
          
      </div>
    </li>

    <li>
      <div>
        <time>Hand Cricket - July 2019</time> 
        <p>A fun cricket game to play that is based on a favourite childhood game that involves hands.</p>
        <button onclick="location.href='https://www.dropbox.com/s/pnz28tgu6sx7ms1/Hand%20Cricket%20Installer.dmg?dl=1'" class="projectbutton" id="firstbutton">Download for Mac ⬇</button>
        <button onclick="location.href='https://www.dropbox.com/s/er3tlrl0mnqb2wx/HandCricketInstall.zip?dl=1'" class="projectbutton">Download for Windows ⬇</button>    
            
      
      </div>
    </li>
    <li>
      <div>
        <time>CheerApp - November 2018</time> 
        <p>An Android app that displays customizable quotes, jokes, and sounds of people laughing (which are proven to lighten up your mood).</p>
        <button onclick="location.href='https://www.dropbox.com/s/k7rfqa3xcndd0oh/CheerApp.apk?dl=1'" class="projectbutton">Download for Android ⬇</button>

      </div>
    </li>
    <li>
      <div>
        <time>India Trip Blog - July 2016</time> 
        <p>A blog written with HTML and CSS to document my India Trip in 2016.</p>
        <button onclick="window.open('https://familyindiatrip.blogspot.com/')" class="projectbutton">Visit Blog</button>

      </div>
    </li>
    
  </ul>
</section>
  
    <script src="/assets/js/script.js"></script>

</body>
</html>

