<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <header class="header_division">
            <img class="logo" src="https://previews.dropbox.com/p/thumb/AAg4064iAC4dFLT2tuJOSvHXQzmOvGhm2KIcINsF_iKJP6RuGu-ACQ7vZOt1x2Uj6bkC7pOlas_Fz0YJiMmmbVkQkcLdhecVF5FjF_6wVCUZVid-MoKMcbHuL9lIpED1EtlKXnG3opLrbk0i4ThluC3xq3wo57dniro4mH-23CBYENt1XHpLMs-QBy7PxJG0fH4kV6R8RnwBZmIc7GPkG7ugizTk_a_oQLpG7X7SMiKh9RQxvrvZhx7GkMxvFysrSkkccSzPWMFjmYZYnP71Add2HamzxnKER2p3u4si6MCo_qA_Dvtt4WFCYiDUHPwUUvH2rgDvKq0qTG6yByinVptuSIZhuUkG4tNPz_DJVscsWw/p.png?fv_content=true&size_mode=5" width="40" height="40" />

            <div class="container">
                <a href="{{ site.baseurl }}/#proj" class="headerbutton">Projects</a>
                <a href="{{ site.baseurl }}/#contactform" class="headerbutton">Contact Me</a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-github"><i class="fa fa-github-alt"></i></a>
                <a href="https://www.instagram.com/_vishnu_sa/" target="_blank" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a>
            </div>
        
        </header>
    </head>
        <script src="assets/js/script.js"></script>
</html>