<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="-gL1T9mqH2_DBiV20JjXfwcLBunSt4LU6DIf-NZPVac" />

<header class="header_division">
    <a href="{{site.baseurl}}/"><img class="logo" src="{{site.baseurl}}/assets/img/VishnuLogo.png" width="40" height="40" /></a>

    <div class="headercontainer">
        <a href="{{ site.baseurl }}/#proj" class="headerbutton">Projects</a>
        <a href="{{ site.baseurl }}/#contactform" class="headerbutton">Contact Me</a>
        <a href="https://github.com/vishnupsatish" target="_blank" class="btn-social btn-github"><i class="fa fa-github-alt"></i></a>
        <a href="https://www.instagram.com/_vishnu_sa/" target="_blank" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a>
    </div>

</header>
<script src="/assets/js/script.js"></script>
