#calcbody {
    text-align: center;
}

#calculatorwrap {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 2px;
    background-color: grey;
    margin-top: 120px;
}

.calcrowovr {
    display: flex;
    background-color: white;
}

.calcbutton {
    width: 15vw;
    height: 11vh;
    font-size: 8vmin;
    transition: all 0.2s ease-in-out;
    background-color: #5F7E9E;
    color: white;
    cursor: pointer;
}

#equalbutton {
    width: 60vw;
    background-color: #E9853A;
}

#cbutton {
    background-color: #E9853A;
}

#calctitlewrap {
    text-align: right;
    padding-right: 20px;
    background-color: grey;
    margin-bottom: 0;
}

#calctitle {
    font-size: 4vw;
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.calcbutton:hover {
    transform: rotate(5deg);
    background-color: rgb(42, 68, 94);
    outline:0;
    cursor: pointer;

}

.calcbutton:focus {
    outline:0;
}

#equalbutton:hover, #cbutton:hover {
    transform: rotate(0deg);
    background-color: rgb(179, 98, 36);
}

#cbutton {
    width: 30vw;
}



.operationbutton {
    color: rgb(173, 173, 173);
}