/* Global Styles */
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    //box-sizing: border-box;
    font-size: 100%;
    align-self: center;
    height: 100%;
}

body {    
    margin: 0;
    padding: 0;
    height: 100%;

}


.header_division {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #5F7E9E;
    transition: padding 300ms ease;
    z-index: 5;
}

header.sticky {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
}
    


.logo {

    width: 82px;
    height: 82px;

}

/*section.content {
    margin-top: 80px;
    padding: 20px;
    background-color: #ABA9BF;
    color: #202020;
}*/


@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 45px;
    line-height: 50px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    width: 45px;
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;

    transform: scale(1);
    transition: all .25s;

}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{

    transform: scale(1.3);

}
.btn-social.btn-xs
{
    font-size: 15px;
    height: 37px;
    line-height: 20px;
    margin: 6px 2px;
    width: 37px;
}
.btn-social.btn-sm
{
    font-size: 28px;
    height: 50px;
    line-height: 30px;
    margin: 6px 2px;
    width: 50px;
}
.btn-social.btn-lg
{
    font-size: 39px;
    height: 90px;
    line-height: 60px;
    margin: 10px 6px;
    width: 90px;
    
}


.btn-github
{
    background-color: #4183c4;
}
.btn-github:hover
{
    background-color: #689cd0;
}

.btn-instagram
{
    background-color: #3f729b;
}
.btn-instagram:hover
{
    background-color: #548cb9;
}

#headbuttondiv {
    align-self: right;
}

.headerbutton{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 15px;
    }
.headerbutton:hover{
    background-color:#4095c6;
}
@media all and (max-width:30em) {
    .headerbutton {
    display:block;
    margin:0.2em auto;
}
    }

